.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    border: 2px solid #bbbbbb;
    border-radius: 10px;
    width: 500px;
    padding: 20px;
    background-color: #c2c5ca;
}